# Gradle
.gradle/
build/

# Local configuration
/local.properties
/.idea/local.xml

# IDEA project files
*.iml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Ignore everything in .idea except code styles and run configurations
/.idea/*
!/.idea/codeStyles
!/.idea/codeStyles/Project.xml
!/.idea/runConfigurations

# Android Studio captures
/captures/

# External native build
.externalNativeBuild/
.cxx/

# Mac OS files
.DS_Store

# Logs
*.log

# APKs
*.apk
*.ap_

# Build folders for all modules
**/build/

